<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Rural_E_Health</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDash</display-name>
    <servlet-name>AdminDash</servlet-name>
    <servlet-class>AdminDash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDash</servlet-name>
    <url-pattern>/AdminDash</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AarogyaLogin</display-name>
    <servlet-name>AarogyaLogin</servlet-name>
    <servlet-class>AarogyaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AarogyaLogin</servlet-name>
    <url-pattern>/AarogyaLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AarogyaDash</display-name>
    <servlet-name>AarogyaDash</servlet-name>
    <servlet-class>AarogyaDash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AarogyaDash</servlet-name>
    <url-pattern>/AarogyaDash</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpecialistLogin</display-name>
    <servlet-name>SpecialistLogin</servlet-name>
    <servlet-class>SpecialistLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecialistLogin</servlet-name>
    <url-pattern>/SpecialistLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpecialistDash</display-name>
    <servlet-name>SpecialistDash</servlet-name>
    <servlet-class>SpecialistDash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecialistDash</servlet-name>
    <url-pattern>/SpecialistDash</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAarogya</display-name>
    <servlet-name>AddAarogya</servlet-name>
    <servlet-class>AddAarogya</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAarogya</servlet-name>
    <url-pattern>/AddAarogya</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSpecialist</display-name>
    <servlet-name>AddSpecialist</servlet-name>
    <servlet-class>AddSpecialist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSpecialist</servlet-name>
    <url-pattern>/AddSpecialist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCase</display-name>
    <servlet-name>AddCase</servlet-name>
    <servlet-class>AddCase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCase</servlet-name>
    <url-pattern>/AddCase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PredictDisease</display-name>
    <servlet-name>PredictDisease</servlet-name>
    <servlet-class>PredictDisease</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PredictDisease</servlet-name>
    <url-pattern>/PredictDisease</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rough</display-name>
    <servlet-name>rough</servlet-name>
    <servlet-class>rough</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rough</servlet-name>
    <url-pattern>/rough</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comment</display-name>
    <servlet-name>Comment</servlet-name>
    <servlet-class>Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AarogyaComment</display-name>
    <servlet-name>AarogyaComment</servlet-name>
    <servlet-class>AarogyaComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AarogyaComment</servlet-name>
    <url-pattern>/AarogyaComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
</web-app>